@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
body,
html {
  height: 100%;
  margin: 0;
}

body {
  color: #848284;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}

header {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: inherit;
}

.asidenav {
  background-color: #cdfefe;
  color: #7c2548 !important;
  padding: 1rem;
}
.asidenav ol.wrapped {
  padding-left: 1rem;
}
.asidenav ol.dropdown-menu {
  list-style-type: decimal;
}
.asidenav ul.wrapped {
  padding-left: 1.3rem;
}

.wrapped {
  padding-top: 1em;
  padding-bottom: 1.5em;
  position: inherit !important;
  -webkit-transform: none !important;
          transform: none !important;
  font-size: 1em;
  font-weight: 400;
}
.wrapped li:hover {
  color: #1375f2;
}

.navbar-title {
  color: #ffa500;
}
.navbar-title a {
  font-size: 1.7rem;
}
.navbar-title span:last-child {
  font-size: 1.5rem;
}

.navbar-toggler {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.order {
  color: #1375f2;
  padding-bottom: 1.5rem;
}

.content {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
}

.card {
  border: none;
}

.card-title {
  color: #000;
  font-weight: bold;
}

.card-img-top {
  display: block;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.details {
  background: #e8e6fb;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.details strong {
  color: #000;
}

.poster {
  width: 100%;
}

.subnav {
  position: relative;
  width: 100%;
  padding-bottom: 0.5rem;
}

.nav-link {
  color: inherit;
  padding: 0;
}

.dropdown-menu {
  color: inherit;
  list-style: initial;
  border: none;
  background-color: inherit;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 1.2rem;
}

.content-title {
  font-size: 1.7rem;
  font-weight: bold;
  color: #07196a;
}

.content-title-about {
  color: #807b9a;
}

.brand-mobile {
  line-height: initial;
  padding-top: 0.5rem;
}

@media (min-width: 992px) {
  aside {
    margin-left: -0.75rem;
  }

  .dropdown-menu {
    list-style: initial;
    display: block;
  }

  .navbar-brand {
    margin-right: 0;
  }

  .dropdown-toggle {
    pointer-events: none;
  }
  .dropdown-toggle:after {
    display: none;
  }
  .dropdown-toggle:hover {
    cursor: auto;
    color: inherit;
  }

  .asidenav {
    display: block !important;
    height: 100%;
  }

  .navbar-title span:last-child {
    font-size: 1.2rem;
  }

  .bd-layout {
    display: -ms-grid;
    display: grid;
    gap: 12px;
    -ms-grid-columns: 1fr 12px 5fr;
    grid-template-columns: 1fr 5fr;
  }
}
@media (max-width: 992px) {
  .brand {
    display: none;
  }

  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .order {
    padding-bottom: 0;
  }

  .wrapped {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .asidenav {
    padding: 0.5rem 1rem;
    margin: 0 -0.75rem;
  }
}
@media (max-width: 576px) {
  header {
    display: none;
  }

  .content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }
}