@import 'fonts';

$f-main: 'Roboto', sans-serif;

$c-blue: #1375f2;
$c-blue-1: #07196a;
$c-grey: #807b9a;
$c-details: #e8e6fb;
$c-orange: #ffa500;
$c-crimson: #7c2548;
$c-black: #000;
$c-black-1: #848284;
$c-aqua: #cdfefe;

$md: 992px;
$sm: 768px;
$xs: 576px;
